@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;
    --widget-background: 0 0% 14%;
    --widget-border: 0 0% 18%;
    --border-btn: 0 0% 30%;
    --foreground: 0 0% 96%;
  }
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
